@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,400;1,100&family=Ramabhadra&display=swap');

:root {
    --vertical-space: 2rem;
    --horizontal-space: 3rem;

    --main-bg-color: #111111;
    --light-color: white;
    --body-color: #CFCED7;
    --heading-color: white;
    --contrast-color: #F5E68C;
}

h1 {
    font-family: 'Ramabhadra', sans-serif;
}

body > #avatar {
    padding-top: 25em;
    grid-area: pic;
    background: url("avatargray.png");
    background-size: cover;
    background-position: right top;
    object-fit: contain;
}

#avatar:hover {
    background: url("avatar.png");
    background-size: cover;
    background-position: right top;
    object-fit: contain;
}

body > #avatar p#picendp {
    margin-bottom: 2em;
}

hr#picendhr {
    margin: 0;
    margin-bottom: 2em;
}

body {
    font-size: 18px;
    line-height: 1.5em;
    font-family: 'Montserrat', sans-serif;
    background-color: var(--main-bg-color);
    color: var(--body-color);
}

body {
    display: grid;
    grid-template-areas:    "nav nav"
                            "pic pic"
                            "main main"
                            "foot foot";
    grid-template-columns: 20em 1fr;
    grid-template-rows: 5.5em 1fr auto;
}

@media screen and (max-width: 29.9999em) {
    body {
        grid-template-areas:    "nav nav"
                                "pic pic"
                                "main main"
                                "foot foot";            
        grid-template-columns: 20em 1fr;
        grid-template-rows: auto 1fr auto;
    }
}

a:link, a:visited {
    color: var(--light-color);
    text-decoration: none;
    outline-style: hidden;
}

a:hover {
    color: var(--contrast-color);
}

body > nav ul li.navbutton a:hover {
    outline-style: solid;
    outline-offset: 10px;
}

hr {
    margin: 2em;
}

body > * {
    padding-left: var(--horizontal-space);
    padding-right: var(--horizontal-space);
}

body > nav {
    text-align: right;
    font-size: 1.2em;
    padding-right: 5rem;
    grid-area: nav;
    background-color: #000000;
    background-image: url("https://www.transparenttextures.com/patterns/black-paper.png");
    outline-style: solid;
    outline-width: 5px;
    outline-color: var(--main-bg-color);
    position: fixed;
    width: 100%;
}

body > nav ul {
    list-style-type: none;
    padding: 0;
    padding-right: 3em;
    padding-top: 10px;
}

@media screen and (max-width: 25em) {
    body > nav {
        text-align: center;
        font-size: 1em;
    }
}

body > nav ul li {
    display: inline;
    padding-right: 1.5rem;
}

body > nav ul li#name {
    font-family: 'Ramabhadra', sans-serif;
    font-weight: bold;
    font-size: 2em;
    padding-bottom: .75em;
}

body > nav ul li#name a:hover {
    outline-style: hidden;
}

body > main {
    grid-area: main;
    background: linear-gradient(404deg, rgba(232, 232, 232, 0.03) 0%, 
    rgba(232, 232, 232, 0.03) 10%,rgba(14, 14, 14, 0.03) 10%, rgba(14, 14, 14, 0.03) 66%,
    rgba(232, 232, 232, 0.03) 66%, rgba(232, 232, 232, 0.03) 72%,rgba(44, 44, 44, 0.03) 72%, 
    rgba(44, 44, 44, 0.03) 81%,rgba(51, 51, 51, 0.03) 81%, rgba(51, 51, 51, 0.03) 100%),
    linear-gradient(397deg, rgba(155, 155, 155, 0.03) 0%, rgba(155, 155, 155, 0.03) 23%,
    rgba(30, 30, 30, 0.03) 23%, rgba(30, 30, 30, 0.03) 63%,rgba(124, 124, 124, 0.03) 63%, 
    rgba(124, 124, 124, 0.03) 73%,rgba(195, 195, 195, 0.03) 73%, rgba(195, 195, 195, 0.03) 84%,
    rgba(187, 187, 187, 0.03) 84%, rgba(187, 187, 187, 0.03) 100%),linear-gradient(367deg, 
    rgba(254, 254, 254, 0.03) 0%, rgba(254, 254, 254, 0.03) 27%,rgba(180, 180, 180, 0.03) 27%, 
    rgba(180, 180, 180, 0.03) 33%,rgba(167, 167, 167, 0.03) 33%, rgba(167, 167, 167, 0.03) 34%,
    rgba(68, 68, 68, 0.03) 34%, rgba(68, 68, 68, 0.03) 63%,rgba(171, 171, 171, 0.03) 63%, 
    rgba(171, 171, 171, 0.03) 100%),linear-gradient(397deg, rgba(71, 71, 71, 0.03) 0%, 
    rgba(71, 71, 71, 0.03) 3%,rgba(97, 97, 97, 0.03) 3%, rgba(97, 97, 97, 0.03) 40%,
    rgba(40, 40, 40, 0.03) 40%, rgba(40, 40, 40, 0.03) 55%,rgba(5, 5, 5, 0.03) 55%, 
    rgba(5, 5, 5, 0.03) 73%,rgba(242, 242, 242, 0.03) 73%, rgba(242, 242, 242, 0.03) 100%),
    linear-gradient(559deg, rgba(70, 70, 70, 0.03) 0%, rgba(70, 70, 70, 0.03) 11%,
    rgba(178, 178, 178, 0.03) 11%, rgba(178, 178, 178, 0.03) 23%,rgba(28,28,28, 0) 23%, 
    rgba(28,28,28, 0) 72%,rgba(152, 152, 152, 0.03) 72%, rgba(152, 152, 152, 0.03) 86%,
    rgba(0,0,0, 0.42) 86%, rgba(0,0,0, 0.42) 100%),linear-gradient(378deg, rgb(25,25,29),
    rgb(1, 1, 1));
}

body > footer {
    grid-area: foot;
    vertical-align: bottom;
}

footer {
    padding-top: 14em;
    padding-bottom: 16em;
    text-align: center;
}

footer h1 {
    margin: 10px;
}

body ul#portfolioitems {
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
    flex: 1;
    list-style-type: none;
    padding: 0;
    text-align: center;
}

@media screen and (min-width: 29.9999em) {
    body ul#portfolioitems li {
        flex-basis: 45%;
        margin: 0 2.5%;
    }
}

body ul#portfolioitems li p {
    margin-left: 10%;
    margin-right: 10%;
    max-width: 100%;
}

body ul#portfolioitems li img {
    object-fit: cover;
    max-width: 100%;
    height: 20vw;
    border-radius: 20px;
    border-color: #666666;
    border-style: solid;
}

body ul#portfolioitems li img:hover {
    object-fit: cover;
    max-width: 100%;
    height: 20vw;
    border-radius: 20px;
    border-color: var(--contrast-color);
    border-style: solid;
}

h1, h2, h3 {
    line-height: 1em;
}

p {
    max-width: 48em;
}

h1#resumelink {
    text-align: center;
    margin-bottom: .5em;
}

#heylisten {
    text-align: center;
    font-weight: 100;
    font-style: italic;
    font-size: .8em;
    margin-top: 0;
}

body ul#workvcomplete {
    margin: 0;
    align-content: center;
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
    flex: 1;
    list-style-type: none;
    padding-left: 0;
}

body ul#workvcomplete > li {
    width: 20em;
    margin: 0 2em;
}

hr#picstarthr {
    margin: 0;
    margin-top: 2em;
}

span.date {
    padding-top: 0;
    font-weight: 200;
}

/* Courtesy of https://stackoverflow.com/a/11601947

img {
    filter: url(filters.svg#grayscale);
    /* Firefox 3.5+ */
    /* filter: gray; */
    /* IE6-9 */
    /* -webkit-filter: grayscale(1); */
    /* Google Chrome & Safari 6+ */
  /* } */
/* img:hover { */
    /* filter: none; */
    /* -webkit-filter: none; */
  /* } */